#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.name {
  font-weight: bold;
  font-size: 400%;
}

.subtitle {
  font-weight: bold;
  font-size: 150%;
}

.url {
  color: white;
}
.url:hover {
  color: lightgrey;
}

